header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background: #333;

  .wrap {
    display: flex;
    align-items: center;
    height: 100%;

    .logo {
      display: block;
      max-width: 10rem;

      img {
        max-width: 100%;
      }
    }
  }
}
